/* card responsivo */
@media (max-width: 768px) {
    body {
        height: 90%;
        display: flex;
        justify-content: center;
      flex-direction: column;
      gap: 8px;
      padding: 20px;
    }

    .card {
      width: 70%;
      height: 40%;
      padding: 10px;
    }

    .card img {
      height: auto;

    }

    .card h1 {
      font-size: 1rem;
      padding: 4px;
    }

    .card h2 {
      font-size: 0.8rem;
      padding: 3px;
    }

    .card button {
        width: 130px;
        padding: 3px;
      font-size: 0.9rem;

    }
  }

  #bubble {     /* alterar */
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 70px;
    right: 90%;
    bottom: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}