<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Email</title>
    <link rel="stylesheet" href="/css/email.css"/>
    <script defer src="/js/email.js"></script>
  </head>
  <body>
    <form
      action="https://formsubmit.co/ajax/nickolas@tigercodes.com.br"
      method="POST"
      data-form
    >
      <label for="nome">Nome</label>
      <input type="text" name="name" id="nome" required />
      <label for="nome">Empresa</label>
      <input type="text" name="name" id="nome" required />
      <label for="nome">Cidade</label>
      <input type="text" name="name" id="nome" required />
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" required />
      <label for="mensagem">Mensagem</label>
      <textarea name="mensagem" id="mensagem" required></textarea>
      <button type="submit" data-button>Enviar</button>
    </form>

	<div id="home">
		<a th:href="@{/index}"> <img
			src="/img/logo/logo_cinza sem fundo.png" alt="icone-usuário"
			title="Voltar a Home" height="40px" width="40px">
		</a>
	</div>

</body>
</html>