<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleeco.css">
    <link rel="stylesheet" href="css/responsive.css" media="screen">
    <link rel="stylesheet" href="css/faq.css">


    <!-- Iconis Usados No BootStrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Fim. -->


    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- /Fim -->

    <!-- Scripts de JS -->
    <script src="js/menu.js" defer></script>
    <script src="js/btn-menu-mob.js" defer></script>
    <!-- Fim -->
    <title>Ecoplus</title>
</head>
<body>


<!-- Cabeçalho -->

<!--Logo -->
<header id="header">
    <div class="interface">
        <section class="logo">

            <img class="logo-branca"  src="logoecoplus/logo_cinza sem fundo.png" alt="logotipo" width="88px" height="88px">
            <img class="logo-preto"  src="logoecoplus/logo_cinza sem fundo.png" alt="logotipo" width="88px" height="88px">

        </section>
        <!-- Fim. -->


        <!-- Menu Geral -->
        <section class="menu-desktop">
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="sobrenos.html">Sobre Nós</a></li>
                    <li><a href="faq.html">Biogás</a></li>
                </ul>
            </nav>
        </section>
        <!-- Fim. -->

        <!--Botão  de Contato *Entrar > Login -->
        <section class="btn-contato">
            <a href="login.html">
                <button>Entrar</button>
            </a>
        </section>

        <!-- Fim. -->


        <!-- Menu mobile *-------------------------------* -->
        <div class="btn-menu-mob" id="btn-menu-mob">

            <div class="line-menumob-1"></div>
            <div class="line-menumob-2"></div>
        </div>

        <section class="menu-mobile" id="menu-mobile">
            <nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="sobrenos.html">Sobre Nós</a></li>
                    <li><a href="faq.html">Biogás</a></li>
                </ul>
            </nav>
        </section>
    </div>
</header>
<!-- Fim. -->

<!-- Texto no Site (hero) -->
<section class="hero-site">
    <div class="interface">
        <div class="txt-hero">
            <h1>Perguntas mais frequentes sobre o<span>Biogás</span></h1>
            <p></span></p>

        </div>
    </div>
</section>
<!-- Fim. -->

<!-- FAQ -->
<div class="wrapper">
    <div class="faq">
        <button class="accordion">
            O que é Biogás?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                O biogás é um subproduto da decomposição de matéria orgânica por bactérias anaeróbicas. O biogás é tipicamente composto de 60% de metano e 40% de CO 2 . É semelhante ao gás natural, que é composto de 99% de metano. O biogás é uma energia limpa e renovável que pode substituir o gás natural para cozinhar, produzir vapor, água quente ou gerar eletricidade. À pressão e temperatura ambiente, o biogás está na forma gasosa, não líquida como o GLP (propano). O engarrafamento do biogás é um processo muito caro.
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            Como funciona?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                O lixo orgânico é colocado em um tanque selado chamado digestor (ou biorreator) onde é aquecido e agitado. Na ausência de oxigênio, bactérias anaeróbicas consomem a matéria orgânica para se multiplicar e produzir biogás.
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            Que tipo de resíduo produz biogás?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                Qualquer resíduo orgânico tem a capacidade de produzir biogás: excrementos humanos, esterco, chorume animal, resíduos de frutas e vegetais, resíduos de matadouros, resíduos de embalagens de carne, resíduos de fábricas de laticínios, resíduos de cervejarias e destilarias, etc. Resíduos ricos em fibras, como madeira, folhas, etc., são matérias-primas ruins para digestores, pois são difíceis de digerir.
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            Quanto biogás posso obter dos meus resíduos?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                A quantidade de biogás que você pode extrair do seu lixo orgânico depende do próprio lixo e do design do sistema digestor. Alguns digestores podem produzir 20 m3 de biogás por tonelada de lixo, enquanto outros podem produzir até 800 m3 por tonelada. Tudo depende da qualidade do lixo, do design do digestor e da operação adequada do sistema.
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            Onde o biogás é produzido?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                O biogás é normalmente produzido na natureza pela degradação anaeróbica de resíduos orgânicos no solo, pântanos, oceano, etc. O biogás também é produzido em aterros sanitários onde resíduos orgânicos de alimentos se degradam em condições anaeróbicas. O biogás pode ser produzido em digestores anaeróbicos, equipamentos (tanques) que fornecem controle total do processo e garantem a recuperação total do biogás.
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            É bom para o meio ambiente?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                O metano tem um fator de aquecimento de gás de efeito estufa (GEE) 21 vezes maior que o CO2. A combustão do biogás converte metano em CO2 e reduz o impacto do GEE em mais de 20 vezes. Ao extrair metano dos resíduos e usá-lo para produzir calor e/ou eletricidade, garantimos que os resíduos não se degradem em um ambiente aberto, portanto, estamos reduzindo as emissões atmosféricas diretas de metano. Além disso, a energia fornecida pelo biogás provavelmente deslocará o combustível fóssil, que é o principal contribuinte para as emissões de GEE. A energia do biogás é considerada neutra em carbono, uma vez que o carbono emitido por sua combustão vem do carbono fixado pelas plantas (ciclo natural do carbono).
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            Quanta energia há no biogás?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                Cada metro cúbico (m3) de biogás contém o equivalente a 6 kWh de energia calorífica. No entanto, quando convertemos biogás em eletricidade, em um gerador elétrico alimentado por biogás, obtemos cerca de 2 kWh de eletricidade utilizável, o restante se transforma em calor que também pode ser usado para aplicações de aquecimento. 2 kWh é energia suficiente para alimentar uma lâmpada de 100 W por 20 horas ou um secador de cabelo de 2000 W por 1 hora.
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            O que acontece com os resíduos após a digestão?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                Apesar da crença popular, a quantidade de resíduos que entra no digestor é quase igual à quantidade que sai, porém a qualidade dos resíduos é alterada para melhor (menos odor, melhor fertilizante, carga orgânica reduzida, menos poluição).

                Os resíduos que saem do digestor podem ser separados (sólido/líquido): a parte sólida pode ser compostada e a parte líquida pode ser usada como fertilizante líquido ou pode ser tratada e descartada.
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            Então por que produzir biogás?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                Sempre custa dinheiro se livrar de resíduos. Se não custa nada, você provavelmente está criando um risco ambiental. Ao colocar um digestor na sua cadeia de tratamento de resíduos, você introduz um centro de receita potencial.

                Por exemplo, o esterco não é considerado um resíduo, mas um fertilizante em uma fazenda. Ao instalar um digestor, o fazendeiro pode lucrar com o biogás reduzindo odores e aumentando o valor fertilizante do esterco.

                Em uma indústria agroalimentar, o digestor pode ser usado como uma unidade primária de tratamento de resíduos, onde o biogás é usado para compensar alguns custos de energia na planta e reduzir o tamanho do tratamento secundário de resíduos.
            </p>
        </div>
    </div>

    <div class="faq">
        <button class="accordion">
            Como funciona o crédito de carbono?
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="pannel">
            <p>
                O crédito de carbono funciona como um incentivo econômico para as empresas adotarem energias limpas. Companhias que impedem a emissão de 1 tonelada de CO2 (dióxido de carbono) geram esse crédito e podem vendê-lo para outras instituições que excederem o volume de emissão desse gás na atmosfera.
            </p>
        </div>
    </div>
</div>

<!-- Faq- -->
<section class="faq-hoteis">
    <div class="faq-interface">
        <a href="https://wa.me/5581973311735" class="faq-button">
            <button>Entre em Contato</button>
        </a>
    </div>
    <div class="faq-overley">
    </div>
</section>
<!-- Fim. -->

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        this.parentElement.classList.toggle("active");

        var pannel = this.nextElementSibling;

        if (pannel.style.display === "block") {
          pannel.style.display = "none";
        } else {
          pannel.style.display = "block";
        }
      });
    }
</script>
<!-- Fim. -->

<!-- Rodape -->
<footer>
    <div class="interface">
        <section class="top-footer">
            <a href="#"><button><i class="bi bi-instagram"></i></button></a>
            <a href="#"><button><i class="bi bi-envelope"></i></button></a>
            <a href="#"><button><i class="bi bi-github"></i></button></a>
        </section>

        <div class="middle-footer">
            <a href="#">Suporte</a>
            <a href="#">Informacoes</a>
            <a href="#">Parcerias</a>
        </div>

        <section class="bottom-footer">
            <p> &copy; Todos os direitos reservados</p>
        </section>
    </div>
</footer>
<!-- Fim. -->
</body>
</html>