<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>


    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- /Fim -->

    <!--CSS-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">

    <!--JS & jQuery-->
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<div id="container">
    <div class="banner">   <!-- tirei a class login -->
        <img src="/logoecoplus/logo_cinza sem fundo.png" width="250" height="250"  alt="imagem-login" >
    </div>

    <div class="box-login">

        <div class="box">
            <h2>Faça o Seu Login!</h2>
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">

            <a href="password.html">
                <p>Esqueceu a sua senha?</p>
            </a>

            <a href='index.html'><button>Prosseguir</button></a>

            <a href="Criarconta.html" class="Criar">
                <p><span>Criar uma conta</span></p>
            </a>

            <div class="social">
                <img src="img/facebook (2).png" alt="facebook">
                <img src="img/google (1).png" alt="google">
                <img src="img/twitter (1).png" alt="twitter">
            </div>
        </div>


</body>
</html>