<!DOCTYPE html>
<html lang="pt=br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha | github.com/andersonleandrog</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/media.css}">
    <link rel="icon" th:href="@{img/logo/LogoCinza.png}" type="image/png">

    <!--JS & jQuery-->
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}" th:integrity="@{sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=}" th:crossorigin="@{anonymous}"></script>
</head>
<body>
<div id="container">
    <div class="banner">
        <img th:src="${LogoCinza}" width="250" height="250"  alt="imagem-login" >
    </div>

    <div class="box-login">
        <h1>Perdeu a sua senha?<br>Recupere via e-mail agora</h1>

        <div class="box-account">
            <h2>Insira a sua conta existente</h2>

            <input type="email" name="email"  id="email" placeholder="E-mail">
            </form>

            <p style="text-align: justify; padding: 0px 30px 0px 30px;">
                Um código será enviado para a sua caixa
                de entrada, copie esse código e cole na
                próxima tela, cetifique-se de que o seu
                apelido bem como o e-mail esteja corretos
                e que seja o mesmo da conta que você deseja
                recuperar.
            </p>

            <button>Obter o código</button>
        </div>
    </div>
</div>

<a th:href="@{/}">
    <div id="bubble">
        <img th:src="${LogoCinza}" alt="icone-usuário" title="fazer-login" eight="40px" width="40px">
    </div>
</a>
</body>
</html>