<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleeco.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/sobrenos.css}">
    <link rel="stylesheet" th:href="@{/css/card.css}">

    <!-- Cdnjs -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css}" th:integrity="@{sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==}" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Fim. -->

    <!-- Iconis Usados No BootStrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Fim. -->

    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- /Fim -->

    <!-- Scripts de JS -->
    <script th:src="@{js/menu.js}" defer></script>
    <script th:src="@{js/btn-menu-mob.js}" defer></script>
    <!-- Fim -->
    <title>Ecoplus</title>
</head>
<body>


<!-- Cabeçalho -->

<!--Logo -->
<header id="header">
    <div class="interface">
        <section class="logo">

            <img class="logo-branca"  th:src="${LogoCinza}" alt="logotipo" width="88px" height="88px">
            <img class="logo-preto"  th:src="${LogoPreta}" alt="logotipo" width="88px" height="88px">

        </section>
        <!-- Fim. -->


        <!-- Menu Geral -->
        <section class="menu-desktop">
            <nav>
                <ul>
                  		<li><a th:href="@{/}">Inicio</a></li>
						<li><a th:href="@{/sobrenos}">Sobre Nós</a></li>
						<li><a th:href="@{/faq}">Biogás</a></li>
                </ul>
            </nav>
        </section>
        <!-- Fim. -->

        <!--Botão  de Contato *Entrar > Login -->
        <section class="btn-contato">
            <a href="@{/login}">
                <button>Entrar</button>
            </a>
        </section>

        <!-- Fim. -->


        <!-- Menu mobile *-------------------------------* -->
        <div class="btn-menu-mob" id="btn-menu-mob">

            <div class="line-menumob-1"></div>
            <div class="line-menumob-2"></div>
        </div>

        <section class="menu-mobile" id="menu-mobile">
            <nav>
                <ul>
               		<li><a th:href="@{/}">Inicio</a></li>
					<li><a th:href="@{/sobrenos}">Sobre Nós</a></li>
					<li><a th:href="@{/faq}">Biogás</a></li>
                </ul>
            </nav>
        </section>
    </div>
</header>
<!-- Fim. -->

<!-- Texto no Site (hero) -->
<section class="hero-site">
    <div class="interface">
        <div class="txt-hero">
            <h1>Sobre Nós<span>EcoPlus</span></h1>
        </div>
    </div>
</section>
<!-- Fim. -->

<!-- Sobre Nós -->
<div class="container">
    <h1 class="title">Sobre Nós</h1>
    <div class="about-content">
        <div class="image">
            <img src="" alt="Imagem do Grupo">
        </div>
        <div class="content">
            <p>A EcoPlus surgiu como alternativa de uma plataforma onde faz conexão entre produtores de resíduos orgânicaos diretamente com produtores de Biogás. <br>O projeto foi desenvolvido a partir da ODS 7 | Energia Acessecível e Limpa. ODS 11 | Cidadaes e Comunidades Sustentáveis. <br>Projeto Desenvolvido na Turma Start 2024.2 | Java </p>
        </div>
    </div>
</div>
<!-- Fim. -->

<!-- Alunos -->
<div class="ccontainer">
    <h1 class="heading">Colaboradores</h1>
    <div class="box-container">

        <div class="box">
            <img th:src="${LucasTavaresImg}" alt="Lucas">
            <h3>Lucas Tavares</h3>
            <p>Desenvolvedor | Gerente de Projetos</p>
            <a href="https://www.linkedin.com/in/lucas-tavares-811427313/" class="btn"><i class="bi bi-linkedin"></i></a>
        </div>

        <div class="box">
            <img th:src="${ThallesImg}" alt="Thalles">
            <h3>Thalles Vieira</h3>
            <p>Desenvolvedor | Tech Leader | Scrum Master</p>
            <a href="https://www.linkedin.com/in/thalles-vieira-de-lima/" class="btn"><i class="bi bi-linkedin"></i></a>
        </div>

        <div class="box">
            <img th:src="${AlineImg}" alt="Aline">
            <h3>Aline Gomes</h3>
            <p>Desenvolvedor | Design | Front-end</p>
            <a href="https://www.linkedin.com/in/aline-concei%C3%A7%C3%A3o-0994031b9/" class="btn"><i class="bi bi-linkedin"></i></a>
        </div>

        <div class="box">
            <img th:src="${EdImg}" alt="Edmilson">
            <h3>Edmilson Junior</h3>
            <p>Desenvolvedor | Analista de Requesitos</p>
            <a href="#" class="btn"><i class="bi bi-linkedin"></i></a>
        </div>

        <div class="box">
            <img th:src="${LucasAntonioImg}" alt="Antônio">
            <h3>Lucas Antônio</h3>
            <p>Desenvolvedor | Test</p>
            <a href="https://www.linkedin.com/in/lucas-ant%C3%B4nio-3815b5248/" class="btn"><i class="bi bi-linkedin"></i></a>
        </div>

    </div>
</div>
<!-- Fim -->


<!-- Rodape -->
<footer>
    <div class="interface">
        <section class="top-footer">
            <a href="#"><button><i class="bi bi-instagram"></i></button></a>
            <a href="#"><button><i class="bi bi-envelope"></i></button></a>
            <a href="#"><button><i class="bi bi-github"></i></button></a>
        </section>

		<!-- Adicionar informações aqui -->
        <div class="middle-footer">
            <a href="#">Suporte</a>
            <a href="#">Informacoes</a>
            <a href="#">Parcerias</a>
        </div>

        <section class="bottom-footer">
            <p> &copy; Todos os direitos reservados</p>
        </section>
    </div>
</footer>
<!-- Fim. -->

</body>
</html>