<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Card de Vendas Ecoplus</title>
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/cardresponsive.css" media="screen">
</head>
<body>

<!-- card vendas -->
<div class="card">
    <img src="/comofunciona/residuos.jpg">
    <div>
        <h1>Resíduos orgânicos</h1>
        <h2>1000 kg</h2>
        <span>Disponível!</span>
        <a class="card-btn" href="/infor.html">
            <button>Informações!</button></a>
    </div>
</div>

<div class="card">
    <img src="/comofunciona/residuos.jpg">
    <div>
        <h1>Resíduos orgânicos</h1>
        <h2>1000 kg</h2>
        <span>Disponível!</span>
        <a class="card-btn" href="/infor.html">
            <button>Informações!</button></a>
    </div>
</div>
</div>

<div class="card">
    <img src="/comofunciona/residuos.jpg">
    <div>
        <h1>Resíduos orgânicos</h1>
        <h2>1000 kg</h2>
        <span>Disponível!</span>
        <a class="card-btn" href="/infor.html">
            <button>Informações!</button></a>
    </div>
</div>
</div>

<div class="card">
    <img src="/comofunciona/residuos.jpg">
    <div>
        <h1>Resíduos orgânicos</h1>
        <h2>1000 kg</h2>
        <span>Disponível!</span>
        <a class="card-btn" href="/infor.html">
            <button>Informações!</button></a>
    </div>
</div>
</div>



<!-- fim. -->


<!-- Botão de voltar -->
<a href="index.html">
    <div id="bubble">
        <img src="logoecoplus/logo_cinza sem fundo.png" alt="icone-usuário" title="fazer-login" eight="40px" width="40px">
    </div>
</a>
<!-- fim. -->

</body>
</html>