<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Card de Vendas Ecoplus</title>
    <link rel="stylesheet" th:href="@{/css/card.css}">
    <link rel="stylesheet" th:href="@{/css/cardresponsive.css}" media="screen">
    <link rel="icon" th:href="@{img/logo/LogoCinza.png}" type="image/png">
</head>
<body>

<!-- card vendas -->
<div class="card">
    <img th:src="${residuos}">
    <div>
        <h1>Resíduos orgânicos</h1>
        <h2>1000 kg</h2>
        <span>Disponível!</span>
        <a class="card-btn" th:href="@{/infor}">
            <button>Informações</button></a>
    </div>
</div>

<div class="card">
    <img th:src="${residuos}">
    <div>
        <h1>Resíduos orgânicos</h1>
        <h2>1000 kg</h2>
        <span>Disponível!</span>
        <a class="card-btn" th:href="@{/infor}">
            <button>Informações</button></a>
    </div>
</div>
</div>

<div class="card">
    <img th:src="${residuos}">
    <div>
        <h1>Resíduos orgânicos</h1>
        <h2>1000 kg</h2>
        <span>Disponível!</span>
        <a class="card-btn" th:href="@{/infor}">
            <button>Informações</button></a>
    </div>
</div>
</div>

<div class="card">
    <img th:src="${residuos}">
    <div>
        <h1>Resíduos orgânicos</h1>
        <h2>1000 kg</h2>
        <span>Disponível!</span>
        <a class="card-btn" th:href="@{/infor}">
            <button>Informações</button></a>
    </div>
</div>
</div>



<!-- fim. -->


<!-- Botão de voltar -->
<a th:href="@{/}">
    <div id="bubble">
        <img th:src="${LogoCinza}" alt="icone-usuário" title="fazer-login" eight="40px" width="40px">
    </div>
</a>
<!-- fim. -->

</body>
</html>